<ion-content class="ion-padding">
	<ion-grid>
		<ion-row class="header-title ion-margin-bottom ion-align-items-center">
			<ion-col size="auto" class="d-none back-btn">
				<ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
			</ion-col>
			<ion-col class="ion-text-capitalize text-max text-max-1 wp-nowrap">{{update? 'Edit' : 'Tambah'}} {{jenis}}</ion-col>
			<ion-col size="auto">
				<button form="formproduk" class="ion-no-padding ion-no-margin b-none d-flex ion-align-items-center ion-justify-content-center" [disabled]="form.invalid">
					<ion-note color="primary" [style.opacity]="form.invalid? 0.2 : 1"><h4 class="ion-no-margin">Simpan</h4></ion-note>
				</button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<form [formGroup]="form" id="formproduk" (ngSubmit)="simpan()">
					<div class="d-flex ion-align-items-center ion-justify-content-center ion-margin-bottom mb-2">
						<div class="p-relative w-50 pt-50p border-50p o-hidden">
							<img src="https://investor.waskita.co.id/assets/img/no-profile-photo.jpg" class="p-absolute t-0">
							<div class="p-absolute w-100 h-100 t-0 b-dark-30p"></div>
						</div>
						<ion-button mode="ios" class="p-absolute">Upload Foto</ion-button>
					</div>

					<!-- <ion-item *ngIf="jenis == 'kurir'" class="ion-no-padding ion-margin-bottom">
						<ion-label color="primary" position="floating" class="ion-text-capitalize">NIK*</ion-label>
						<ion-input autofocus formControlName="nik" type="number" placeholder="Tulis nomer induk kependidikan wali murid"></ion-input>
					</ion-item> -->

					<ion-item class="ion-no-padding ion-margin-bottom">
						<ion-label color="primary" position="floating" class="ion-text-capitalize">Nama Lengkap {{jenis}}*</ion-label>
						<ion-input formControlName="namaLengkap" placeholder="Tulis nama {{jenis}}"></ion-input>
					</ion-item>

					<ion-item class="ion-no-padding ion-margin-bottom">
						<ion-label color="primary" position="floating" class="ion-text-capitalize">Email*</ion-label>
						<ion-input formControlName="email" type="text" placeholder="Tulis email {{jenis}}"></ion-input>
					</ion-item>

					<ion-item class="ion-no-padding ion-margin-bottom">
						<ion-label color="primary" position="floating" class="ion-text-capitalize">noTlp</ion-label>
						<ion-input formControlName="noTlp" type="tel" placeholder="Tulis noTlp {{jenis}}"></ion-input>
					</ion-item>

					<ion-item class="ion-no-padding ion-margin-bottom">
						<ion-label color="primary" position="floating" class="ion-text-capitalize">Jenis Kelamin*</ion-label>
						<ion-select formControlName="jenisKelamin" placeholder="Pilih jenis kelamin {{jenis}}">
							<ion-select-option [value]="1">Laki - laki</ion-select-option>
							<ion-select-option [value]="0">Perempuan</ion-select-option>
						</ion-select>
					</ion-item>

					<ion-item class="ion-no-padding ion-margin-bottom">
						<ion-label color="primary" position="floating" class="ion-text-capitalize">Tgl Lahir</ion-label>
						<ion-datetime formControlName="tglLahir" displayFormat="DD MMM YYYY" placeholder="Tulis tgl lahir {{jenis}}"></ion-datetime>
					</ion-item>

					<!-- <ion-item *ngIf="jenis == 'siswa'" class="ion-no-padding ion-margin-bottom">
						<ion-label color="primary" position="floating" class="ion-text-capitalize">NISN*</ion-label>
						<ion-input formControlName="nisn" type="number" placeholder="Tulis NISN siswa"></ion-input>
					</ion-item> -->

					<!-- <ion-item *ngIf="jenis == 'siswa'" class="ion-no-padding ion-margin-bottom">
						<ion-label color="primary" position="floating" class="ion-text-capitalize">Kelas*</ion-label>
						<ion-select formControlName="kelas" placeholder="Pilih kelas">
							<ion-select-option *ngFor="let k of dataKelas" [value]="k._id">{{k.title}}</ion-select-option>
						</ion-select>
					</ion-item> -->

					<ion-item class="ion-no-padding ion-margin-bottom">
						<ion-label color="primary" position="floating" class="ion-text-capitalize">Alamat</ion-label>
						<ion-textarea formControlName="alamat" type="text" placeholder="Tulis alamat {{jenis}}"></ion-textarea>
					</ion-item>


					<ion-item *ngIf="!dataMaster?.hasPassword || gantiPass" class="ion-no-padding ion-margin-bottom">
						<ion-label color="primary" position="floating" class="ion-text-capitalize">{{dataMaster?.hasPassword? 'Ganti' : ''}} Password</ion-label>
						<ion-input formControlName="password" type="password" placeholder="{{dataMaster?.hasPassword? 'Ganti' : 'Isikan'}} password  {{jenis}}"></ion-input>
					</ion-item>

					<div *ngIf="dataMaster?.hasPassword">
						<ion-button color="primary" size="small" fill="outline" (click)="gantiPass = !gantiPass">{{gantiPass? 'Batal' : ''}} Ganti Password</ion-button>
					</div>
				</form>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>