<ion-content class="ion-padding-top ion-padding-bottom">
	<ion-grid class="px-0">
		<ion-row class="header-title mb-1 ion-padding-start ion-padding-end ion-margin-bottom ion-align-items-center">
			<ion-col size="auto" class="d-none back-btn">
				<ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
			</ion-col>
			<ion-col class="ion-text-capitalize text-max text-max-1 wp-nowrap">Topup</ion-col>
		</ion-row>
		<ion-row class="ion-padding-start ion-padding-end">
			<ion-col>
				<form [formGroup]="form" (ngSubmit)="simpan()">
					<ion-item class="ion-no-padding ion-margin-bottom">
						<ion-label color="primary" position="floating">Pilih Bank</ion-label>
						<ion-select formControlName="rekening" placeholder="Pilih Rekening Toko" okText="Pilih" cancelText="Batal">
							<ion-select-option *ngFor="let r of dataRekening" [value]="r">{{r.namaBank}}</ion-select-option>
						</ion-select>
					</ion-item>
					<div *ngIf="form.value?.rekening">
						<ion-item disabled class="ion-no-padding ion-margin-bottom opacity-5">
							<ion-label color="primary" position="floating">No Rekening Toko</ion-label>
							<ion-input [value]="form.value?.rekening?.noRek" readonly placeholder="No Rekening Toko"></ion-input>
						</ion-item>
						<ion-item disabled class="ion-no-padding ion-margin-bottom opacity-5">
							<ion-label color="primary" position="floating">Atas Nama Rekening Toko</ion-label>
							<ion-input [value]="form.value?.rekening?.atasNama" readonly placeholder="Atas Nama Rekening Toko"></ion-input>
						</ion-item>
					</div>

					<ion-item class="ion-no-padding ion-margin-bottom">
						<ion-label color="primary" position="floating">Jumlah Topup</ion-label>
						<ion-select formControlName="jumlah" placeholder="Pilih Jumlah Topup" okText="Pilih" cancelText="Batal">
							<ion-select-option [value]="10000">Rp. 10.000,-</ion-select-option>
							<ion-select-option [value]="15000">Rp. 15.000,-</ion-select-option>
							<ion-select-option [value]="20000">Rp. 20.000,-</ion-select-option>
							<ion-select-option [value]="40000">Rp. 40.000,-</ion-select-option>
							<ion-select-option [value]="50000">Rp. 50.000,-</ion-select-option>
							<ion-select-option [value]="60000">Rp. 60.000,-</ion-select-option>
							<ion-select-option [value]="80000">Rp. 50.000,-</ion-select-option>
							<ion-select-option [value]="100000">Rp. 100.000,-</ion-select-option>
							<ion-select-option [value]="500000">Rp. 500.000,-</ion-select-option>
						</ion-select>
					</ion-item>

					<ion-button color="primary" class="w-100" type="submit">Bayar</ion-button>
				</form>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>