<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="beranda">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="tagihan" #tagihanTab>
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Tagihan</ion-label>
      <ion-badge *ngIf="jumlahTagihan > 0" mode="ios" color="danger">{{jumlahTagihan}}</ion-badge>
    </ion-tab-button> -->
    <ion-tab-button tab="keranjang" #keranjangTab>
      <ion-icon name="cart"></ion-icon>
      <ion-label>Keranjang</ion-label>
      <ion-badge *ngIf="jumlahKeranjang > 0" mode="ios" color="danger">{{jumlahKeranjang}}</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="pembelian" #pembelianTab>
      <ion-icon name="bag-handle"></ion-icon>
      <ion-label>Pembelian</ion-label>
      <ion-badge *ngIf="jumlahPembelian > 0" mode="ios" color="danger">{{jumlahPembelian}}</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="akun">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Akun</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
