*{
	outline: none !important;
}
//header title
.header-title{
	font-weight: bold;
	font-size: 20pt;
}
.alert-title, .alert-sub-title{
	text-transform: capitalize !important;
}

.can-go-back{
	.back-btn{
		display: flex;
	}
}

// background color
.b-none{background: none;}
.b-primary{background: var(--ion-color-primary);}
.b-primary-800{ background: var(--ion-color-primary-800); }
.b-secondary{background: var(--ion-color-primary);}
.b-dark-30p{background: rgba(var(--ion-color-dark-rgb), .3);}

//color
.c-primary{color: var(--ion-color-primary);	}
.c-primary-100{color: var(--ion-color-primary-100);	}
.c-medium{color: var(--ion-color-medium);	}
.c-medium-tint{color: var(--ion-color-medium-tint);	}
.c-light{color: var(--ion-color-light)}
.c-danger{color: var(--ion-color-danger)}

//position
.p-relative{ position: relative; }
.p-absolute{ position: absolute; }
.p-fixed{ position: fixed; }
.l-0{ left: 0; }
.r-0{ right: 0; } 
.r-05{ right: .3rem; } 
.r--1{ right: -0.5rem; } 
.l--05{ left: -0.3rem; }
.t-0{ top: 0; }
.t-05{ top: .3rem; } 
.b-0{ bottom: 0; }

//overflow
.o-hidden{ overflow: hidden; }
.o-auto{ overflow: auto; }
.o-visible{ overflow: visible; }

// display
.d-table-cell{ display: table-cell; }
.d-none{ display: none; }
.d-flex{ display: flex !important; }
.flex-column{ flex-direction: column; }
.align-items-center{ align-items: center; }
.flex-1{ flex: 1 !important; }
.flex-2{ flex: 2 !important; }
.flex-shrink-0 { flex-shrink: 0 !important; }
.flex-wrap{ flex-wrap: wrap; }

// size
.h-2{ height: 1rem; }
.h-auto{ height: auto; }
.h-100{ height: 100%; }
.h-6r{ height: 6rem }

.w-1{ width: .5rem }
.w-2{ width: 1rem }
.w-3{ width: 2rem }
.w-4{ width: 4rem }
.w-5{ width: 6rem }
.w-6{ width: 8rem }
.w-50{ width: 50%; }
.w-100{ width: 100%; }
.w-auto{ width: auto; }
.mw-4r{ min-width: 4rem }
.mh-100{ min-height: 100px }
.mh-90{ min-height: 90px }

//spacing
.m-05 { margin: .3rem; }
.m-1 { margin: .5rem; }
.mb-0 { margin-bottom: 0; }
.mb-01 { margin-bottom: .1rem; }
.mb-05 { margin-bottom: .3rem; }
.mb-1 { margin-bottom: .5rem; }
.mb-2 { margin-bottom: 1rem; }
.mb-5 { margin-bottom: 6rem; }
.mr-05 { margin-right: .3rem; }
.mr-1 { margin-right: .5rem; }
.mr-2 { margin-right: 1rem; }
.my-1 { margin-top: .5rem; margin-bottom: .5rem; }
.mx-1 { margin-left: .5rem; margin-right: .5rem; }
.mt-1 { margin-top: .5rem; }
.ml-1 { margin-left: .5rem; }
.mt--05 { margin-top: -0.3rem; }

.p-05 { padding: .3rem; }
.p-1 { padding: .5rem; }
.pt-05 { padding-top: .3rem; }
.pt-1 { padding-top: .5rem; }
.pb-1 { padding-bottom: .5rem; }
.pb-4 { padding-bottom: 3rem; }
.pb-100 { padding-bottom: 100%; }
.py-05 { padding-top: .3rem; padding-bottom: .3rem }
.py-1 { padding-top: .5rem; padding-bottom: .5rem }
.py-2 { padding-top: 1rem; padding-bottom: 1rem }
.px-0 { padding-left: 0; padding-right: 0; }
.px-05 { padding-left: .3rem; padding-right: .3rem }
.px-1 { padding-left: .5rem; padding-right: .5rem }
.px-2 { padding-left: 1rem; padding-right: 1rem }
.pt-50p { padding-top: 50%; }
.pt-50p { padding-top: 50%; }
.p-gc { padding: var(--ion-grid-column-padding-xs, var(--ion-grid-column-padding, 5px)) } // padding grid column
.pl-gc { padding-left: var(--ion-grid-column-padding-xs, var(--ion-grid-column-padding, 5px)) }
.pr-gc { padding-right: var(--ion-grid-column-padding-xs, var(--ion-grid-column-padding, 5px)) }

//border
.border-none{ border: none }
.border{ border: 1px solid var(--ion-color-light-shade) }
.border-bottom{ border-bottom: 1px solid var(--ion-color-light-shade) }
.border-top{ border-top: 1px solid var(--ion-color-light-shade) }
.border-right{ border-right: 1px solid var(--ion-color-light-shade) }
.border-c-primary{ border-color: var(--ion-color-primary) !important; }
.border-c-transparent{ border-color: transparent !important; }

.border-avatar{ /* border: 2px var(--ion-color-primary-800) solid; */ }
.boder-transparent{ border: 2px transparent solid; }
.border-avatar-shade{ border: 2px var(--ion-color-light-shade) solid; }

.inborder{ box-shadow: 0 0 1px 1px var(--ion-color-light-shade) inset }
.inborder-c-primary{ box-shadow: 0 0 1px 1px var(--ion-color-primary) inset }

// boder radius
.border-round{ border-radius: 64px; }
.border-50p{ border-radius: 50%; }
.border-0 { border-radius: 0; }
.border-card{ border-radius: 8px }
.border-tl-card{ border-top-left-radius: 8px }
.border-tr-card{ border-top-right-radius: 8px }
.border-br-card{ border-bottom-right-radius: 8px }
.border-bl-card{ border-bottom-left-radius: 8px }
.border-05 { border-radius: .3rem }

//text
.wp-nowrap{white-space: nowrap;}
.wp-prewrap{ white-space: pre-wrap;}

//text max line
.text-max{
	overflow: hidden; 
	text-overflow: ellipsis; 
	display: -webkit-box; 
	-webkit-box-orient: vertical;
}
.text-max-1{ -webkit-line-clamp: 1; }
.text-max-2{ -webkit-line-clamp: 2; }
.text-max-3{ -webkit-line-clamp: 3; }

//font
.fw-bold{ font-weight: bold; }

//opacity
.opacity-0{ opacity: 0 !important }
.opacity-1{ opacity: .2 !important }
.opacity-2{ opacity: .4 !important }
.opacity-3{ opacity: .6 !important }
.opacity-4{ opacity: .8 !important }
.opacity-5{ opacity: 1 !important }

//line-heigt
.lh-0 { line-height: 0; }
.lh-1 { line-height: .5rem; }

//outline
.outline-none{ outline: none }

//box-shadow
.no-shadow{ box-shadow: none; }

//object fit
.of-cover { object-fit: cover; }

// scrollbar
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

//segment
ion-segment{
	margin-bottom: 15px;
	--background: var(--ion-color-primary-900);
	color: var(--ion-color-primary);
	border-radius: 20px;

	&::-webkit-scrollbar {
		width: 0px;
		background: transparent;
		height: 0;
	}

	ion-segment-button{
		min-width: auto;
		--color-checked: var(--ion-color-light);
		--border-radius: 20px;
	}

	ion-segment-button::part(indicator-background){
		background: var(--ion-color-primary);
	}
}

// modal
.modal-custom{
	.modal-wrapper{
		max-width: calc(100% - 52px);
		max-height: 75%;
		border-radius: 13px;
		height: initial;
		display: flex;
		margin-top: -30px;

		app-modal{
			position: relative;
			height: unset;
			width: 100%;
			contain: unset;
			color: var(--ion-text-color, #000);
		}
	}
}

// custome field
.currency{
	// border-bottom: 1px solid red;
	.label{
		font-size: 9pt;
	}
	input{
		width: 100%;
		border: none;
		margin: 8px 0;
	}
}

.search-custom{ 
	height: 100%;
	contain: unset !important; 

	.searchbar-input-container{
		height: 100% !important;
	}
}
.contain-unset{ contain: unset !important; }

.slide-pembelian{
	font-size: 12pt !important;
}
.swiper-wrapper-padding{
	.swiper-wrapper{
		padding: var(--ion-grid-column-padding-xs, var(--ion-grid-column-padding, 5px)) !important;
	}
}
.toast-ab{
	height: calc(100vh - 58px);
}
