// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56,128,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  --ion-color-primary-50: #4286ff;
  --ion-color-primary-100: #4c8dff;
  --ion-color-primary-150: #5693ff;
  --ion-color-primary-200: #6099ff;
  --ion-color-primary-250: #6aa0ff;
  --ion-color-primary-300: #74a6ff;
  --ion-color-primary-350: #7eacff;
  --ion-color-primary-400: #88b3ff;
  --ion-color-primary-450: #92b9ff;
  --ion-color-primary-500: #9cc0ff;
  --ion-color-primary-550: #a5c6ff;
  --ion-color-primary-600: #afccff;
  --ion-color-primary-650: #b9d3ff;
  --ion-color-primary-700: #c3d9ff;
  --ion-color-primary-750: #cddfff;
  --ion-color-primary-800: #d7e6ff;
  --ion-color-primary-850: #e1ecff;
  --ion-color-primary-900: #ebf2ff;
  --ion-color-primary-950: #f5f9ff;

  /** secondary **/
  --ion-color-secondary: #0161c5;
  --ion-color-secondary-rgb: 1,97,197;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #0155ad;
  --ion-color-secondary-tint: #1a71cb;

  /** tertiary **/
  --ion-color-tertiary: #c501c3;
  --ion-color-tertiary-rgb: 197,1,195;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #ad01ac;
  --ion-color-tertiary-tint: #cb1ac9;

  /** quaternary **/
  --ion-color-quaternary: #c56501;
  --ion-color-quaternary-rgb: 197,101,1;
  --ion-color-quaternary-contrast: #ffffff;
  --ion-color-quaternary-contrast-rgb: 255,255,255;
  --ion-color-quaternary-shade: #ad5901;
  --ion-color-quaternary-tint: #cb741a;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  .ion-color-quaternary {
    --ion-color-base: var(--ion-color-quaternary);
    --ion-color-base-rgb: var(--ion-color-quaternary-rgb);
    --ion-color-contrast: var(--ion-color-quaternary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-quaternary-contrast-rgb);
    --ion-color-shade: var(--ion-color-quaternary-shade);
    --ion-color-tint: var(--ion-color-quaternary-tint);
  }
}